p{ 
    background-color: #F3764A;
    text-align: center;
    padding: 0.3;
}
.header {
    padding-top: 0%;
}
body{
    
}
ul {
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}